[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "bash -c \"export FLASK_ENV='development' && flask run\""
test = "pytest ."

[packages]
flask = "*"
flask-cors = "*"
werkzeug = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
